# MCUXpresso / Eclipse build output
/Debug/
/Release/

# Object & build artifacts
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.axf
*.list

# OS / editor cruft
.DS_Store
*~

# other random stuff
.settings
.cproject
.project
scamp5_main.oscillator.cpp.bak
